* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
}

@font-face {
    font-family: 'rf-deluxe';
    src: url(Assets/Refrigerator\ Deluxe.otf) format('opentype');
    font-style: normal;
}

:root {
    --fz15: 1.5rem;
    --fz20: 2rem;

    --fw5: 500;
    --fw6: 600;

    --c54324: #c54324;
    --c343434: #343434;
    --c666666: #666666;
}

body {
    background-image: url(Assets/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top {
    position: fixed;
    display: flex;
    top: 0.2rem;
    width: 100%;
    top: 0;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    width: 10vw;
}

.top ul {
    position: relative;
    transition: transform 0.25s ease-in-out;
}

.top ul a{
    padding-left: 1.5rem;
    color: white;
    text-decoration: none;
    font-family: 'rf-deluxe', Helvetica;
    font-size: var(--fz15);
    font-weight: var(--fw5);
}

.top ul i{
    width: 0;
    height: 0;
    display: inline-block;
    border: 0.4em solid transparent;
    border-left-color: white;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}

.top ul a:hover ,.top ul i:hover{
    color: var(--c54324);
    font-weight: var(--fw6);
    border-left-color: var(--c54324)
}

.active {
    transform: translateX(320px);
}

.ro-180 {
    transform: rotate(180deg);
}

.zoom-bar {
    z-index: 99;
    right: 0;
    bottom: 50%;
    display: flex;
    position: fixed;
    transform: translate(25%, 50%) rotate(-90deg);
    width: 250px;
    background-color: #080808;
    align-items: center;
    border-radius: 5px;
    border: 1px var(--c666666) solid;
    color: white;
    text-align: center;
}

.zoom-bar input[type="range"] {
    width: 100%;
    background-color: var(--c343434);
    -webkit-appearance: none;
    height: 2px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.zoom-bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    background-color: white;
    box-shadow: 
        0 0 0 3px #080808, /* Neutral zone (8px-10px) */
        0 0 0 4px #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.zoom-bar p {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    height: 22px;
    transform: rotate(90deg);
    padding: 5px 8px;
}

.container {
    z-index: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}

.map {
    position: absolute;
    width: 50%;
}